*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#000;
  font-family:Arial, Helvetica, sans-serif;
}

.home{
  background:#000;
  color:white;
  min-height:100vh;
}

/* HERO */

.hero{
  padding:140px 20px;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.hero h1{
  font-size:70px;
  max-width:900px;
  line-height:1.2;
}

.hero p{
  margin-top:25px;
  color:#aaa;
  max-width:700px;
  font-size:22px;
  line-height:1.6;
}

.heroButtons{
  margin-top:45px;
  display:flex;
  gap:20px;
  flex-wrap:wrap;
  justify-content:center;
}

/* BUTTONS */

.primaryBtn{
  background:#00ff99;
  color:black;
  padding:16px 38px;
  border-radius:12px;
  text-decoration:none;
  font-weight:bold;
  transition:0.3s;
}

.primaryBtn:hover{
  transform:scale(1.05);
}

.secondaryBtn{
  border:1px solid #444;
  color:white;
  padding:16px 38px;
  border-radius:12px;
  text-decoration:none;
  transition:0.3s;
}

.secondaryBtn:hover{
  background:#111;
}

/* FEATURES */

.features{
  padding:100px 40px;
}

.features h2{
  text-align:center;
  font-size:50px;
  margin-bottom:70px;
}

.featureGrid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

.card{
  background:#111;
  border:1px solid #222;
  padding:35px;
  border-radius:18px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  border-color:#00ff99;
}

.card h3{
  font-size:28px;
  margin-bottom:20px;
}

.card p{
  color:#aaa;
  line-height:1.7;
}

/* PRICING */

.pricing{
  padding:100px 20px;
  text-align:center;
}

.pricing h2{
  font-size:55px;
}

.pricingCard{
  margin:auto;
  margin-top:60px;
  max-width:420px;
  background:#111;
  border:2px solid #00ff99;
  padding:55px;
  border-radius:25px;
}

.pricingCard h3{
  font-size:35px;
}

.pricingCard h1{
  font-size:70px;
  color:#00ff99;
  margin:20px 0;
}

.pricingCard p{
  color:#aaa;
}

.pricingFeatures{
  margin:35px 0;
  display:flex;
  flex-direction:column;
  gap:16px;
}

/* CTA */

.cta{
  padding:130px 20px;
  text-align:center;
}

.cta h1{
  font-size:60px;
}

.cta p{
  color:#aaa;
  margin-top:25px;
  margin-bottom:40px;
  font-size:22px;
}

/* FOOTER */

.footer{
  border-top:1px solid #222;
  padding:35px;
  text-align:center;
  color:#777;
}

/* MOBILE */

@media(max-width:768px){

  .hero h1{
    font-size:42px;
  }

  .hero p{
    font-size:18px;
  }

  .features h2,
  .pricing h2,
  .cta h1{
    font-size:36px;
  }

  .pricingCard h1{
    font-size:50px;
  }

}